.ButtonModel1{
    margin-top: 20px; 
    margin-bottom: 20px; 
    padding: 10px 15px ; 
    border: none; 
    transition: all 0.2s; 
    border: 1px solid rgba(157, 167, 173, 0.489); 

}

.ButtonModel1:hover{
    box-shadow: 5px 5px 5px rgb(216, 216, 216);
    border: 1px solid rgba(123, 150, 166, 0.489); 
    margin-top: 18px; 
}


.ButtonModel1Blue{
    width: 100%; 
    background-color: #04315e; 
    color: rgb(174, 235, 246); 
    text-align: left; 
    font-weight: 700; 
    font-size: 14px; 
}

.ButtonModel1Red {
    background-color: rgb(165, 12, 12); 
    color: #fff; 
    font-weight: 700; 
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .ButtonModel1Red {
        font-size: 16px;  
    }
}


/* D E S K T O P */
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .ButtonModel1{
        margin-top: 20px; 
        margin-bottom: 20px; 
        padding: 15px 20px ; 
        font-size: 16px; 
    }
}

@media screen and (min-width: 1280px){
    .ButtonModel1{
        margin-top: 30px; 
        margin-bottom: 30px; 
        padding: 18px 22px ; 
        font-size: 16px; 
    }
  }