.h2Model1 {
    font-weight: 500; 
    font-size: 28px;
}

.h2Model1Red{
    color: rgb(172, 58, 58); 
}

.h2Model1Blue{
    color: rgb(49, 85, 147); 
}

.h2Model1Bold {
    font-weight: 800; 
}

.h2Divider {
    margin-top: 12px; 
    margin-bottom: 20px; 
    width: 60px; 
    min-height: 1px; 
    border: 2px solid rgb(172, 58, 58); 
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .h2Model1 {
        font-size: 34px;
    }
}