

.HeaderNavbarMenu {
    position: sticky; 
    top: 0; 
    z-index: 1; 
}
.navbarMobile{
    height: 60px; 
    width: 100%;
    display: flex; 
    flex-direction: row; 
    box-shadow: 0px 0px 10px rgb(198, 198, 198);
    background-color: #fff; 
    transition: all 0.1s;
}

.headerMobile{
    position: sticky; 
    top: 0; 
}

.navbarButtonContainerMobile{
    min-width: 60px; 
    border-right: 1px solid rgb(202, 202, 202); 
}

.burgerIconMobile {
    color: rgb(114, 114, 114); 
    font-size: 30px; 
}

.buttonNavbarMobile{
    width: 100%; 
    height: 100%; 
    background-color: transparent; 
    outline: none; 
    border: none; 
}

.mobileNavbarPartTwo {
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
}
.navbarLogoContainerMobile{
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
}

.sectionMainImageMobile {
    min-height: 320px; 
    background-image: url('/assurance-emprunteur-accueil.webp'); 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex; 
    align-items: flex-end; 
    padding: 0 0 20px 20px; 
}

.textMainImageMobileOne {
    text-shadow: 2px 2px 2px  rgba(31, 31, 31, 0.481);
    font-size: 40px;
}

.insideTextPartOneMobile {
    color: #fff; 
}

.insideTextPartTwotMobile{
    color: rgb(230, 100, 0); 
}

.itemsContainerMobile {
    display: flex; 
    flex-direction: row; 
    height: 60px;
    border-bottom:1px solid rgb(198, 198, 198); 
}

.itemMobile{
    min-width: 15%; 
    border-right: 1px solid rgb(198, 198, 198); 
    background-color: #fff; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}   

.itemMobileText {
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color:#1F4C79; 
    font-weight: 600; 
    font-size: 14px; 
}
.itemMobileTextPara {
    text-align: center; 
    color: #fff; 
}

.simpleTextMobile {
    text-align: center; 
    margin: 50px 0;
    padding: 0px 30px;  
}

.simpleTextMobileH2{
    font-weight: 100; 
    font-size: 38px; 
    margin-bottom: 10px; 
    line-height: 50px; 
    color: #213e68; 
}
.simpleTextParagraphe{
    line-height: 25px; 
    font-weight: 600; 
    font-size: 14px; 
    color: rgb(76, 76, 76); 
}

/* THEME SECTION */

.themeSectionMobile {
    background-color: #00254D; 
    color: rgb(202, 239, 254); 
    padding: 10px  20px; 
}

.oneThemeRowMobile {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
}

.themeIconMobile {
    font-size: 60px; 
    font-weight: 200; 
    margin-right: 15px; 
}

.themeTitleMobile {
    font-weight: 900; 
    font-size: 18px; 
}

.themeArrowMobile {
    font-size: 30px; 
}


/* ARTICLE CONTAINER */
.articleContainerMobile {
    margin-top: 50px; 
    margin-bottom: 50px; 
    padding: 0 30px; 
}
.titleAndIconArticleContainerMobile {
    display: flex; 
    align-items: center; 
    color: #00254D; 
    margin-bottom: 10px; 
}

.articleParagrapheMobile {
    margin-bottom: 30px; 
    font-size: 14px; 
    font-weight: 500; 
    line-height: 25px; 
}

/* ADVERTISE SECTION */
.advertiseContainerMobile {
    background-color: #1F4C79; 
    padding: 50px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
.advertiseTitleMobile{
    color: #fff; 
    font-size: 50px; 
}

.advertiseButtonMobile{
    font-size: 16px; 
    width: 150px; 
    padding: 10px; 
    margin-top: 30px; 
    border-radius: 4px; 
    border: none; 
    background-color:rgb(234, 101, 40); 
    border: 1px solid rgb(255, 255, 255); 
    color: #fff; 
    font-weight: 500; 
}






.facebookIconFooter {
    background-image: url('/facebook.png'); 
}

.linkedinIconFooter {
    background-image: url('/linkedin.png'); 
}

.instagramIconFooter {
    background-image: url('/instagram.png'); 
}

/* MOBILE MENU */
.mobileMenu {
    display: none; 
    border-top: 1px solid rgb(202, 202, 202); 
    z-index: 100; 
    position: fixed; 
    top: 60px; 
    width: 100%; 
    min-height: 100vh; 
    background-color: rgba(22, 34, 68, 0.95); 
    
}
.mobileMenuDisplay {
    display: block; 
}
.oneMobileMenuItem {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    border-bottom: 1px solid rgb(202, 202, 202); 
    background-color: #fff; 
    padding: 20px 20px 20px 60px; 
}
.itemMenuTitleMobile{
    font-size: 18px; 
    font-weight: 500; 
}

/* T A B L E T */

@media screen and (min-width: 768px) and (max-width: 1023px){
    .sectionMainImageMobile {
        min-height: 400px; 
    }
    .navbarLogoMobile {
        width: 300px; 
    }
    .articleParagrapheMobile {
        font-size: 16px; 
    }
    .themeSectionMobile {
        display: flex; 
        justify-content: space-between; 
        padding: 10px  30px; 
    }
    
    .articleTitleMobile {
        font-size: 20px; 
    }
    .simpleTextMobileH2{
        font-size: 46px; 
    }
    .simpleTextParagraphe{
        font-size: 16px; 
    }
    .itemMobileText {
        font-size: 18px; 
    }
    .itemThemeBar{
        font-size: 30px; 
        font-weight: 300; 
    }
    .themeTitleMobile {
        font-weight: 600; 
    }
    .advertiseButtonMobile{
        font-size: 20px; 
        width: 200px; 
        font-weight: 700; 
    }

}




/* D E S K T O P */
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .desktopNavbar {
        display: flex;
        align-items: center; 
        justify-content: space-between; 
        padding: 20px 20px; 
        background-color: #fff; 

    }
    .desktopItemsNavbarContainer {
        display: flex; 
    }
    .oneMobileMenuItem {
        display: flex; 
        align-items: center; 
        justify-content: space-between;
        border-bottom: none; 
        padding: 0 35px 0 0; 

    }
    .navbarLogoMobile {
        width: 320px; 
    }
    .textMainImageMobileOne {
        font-size:60px;
    }

    .footerThemeContainer {
        display: flex;
        justify-content: space-between; 
    }
    .footerLinkArrowMobile {
        display: none; 
    }
    .footerLinkAndArrow{
        margin-bottom: 30px; 
    }

    .sectionMainImageMobile {
        min-height: 400px; 
    }
    .navbarLogoMobile {
        width: 300px; 
    }
    .articleParagrapheMobile {
        font-size: 16px; 
    }
    .themeSectionMobile {
        display: flex; 
        justify-content: space-between; 
        padding: 10px  30px; 
    }
    .articleTitleMobile {
        font-size: 20px; 
    }
    .simpleTextMobileH2{
        font-size: 46px; 
    }
    .simpleTextParagraphe{
        font-size: 16px; 
    }
    .itemMobileText {
        font-size: 18px; 
    }
    .itemThemeBar{
        font-size: 35px; 
        font-weight: 300; 
    }
    .themeTitleMobile {
        font-weight: 600; 
    }
    .advertiseButtonMobile{
        font-size: 20px; 
        width: 200px; 
        font-weight: 700; 
    }
    .sectionMainImageMobile {
        min-height: 600px; 
        background-image: url('/assurance-emprunteur-accueil-desktop.webp'); 
    }
    
}

@media screen and (min-width: 1280px){
    .desktopNavbar {
        display: flex;
        align-items: center; 
        justify-content: space-between; 
        padding: 20px 20px; 
        background-color: #fff; 

    }
    .desktopItemsNavbarContainer {
        display: flex; 
    }
    .oneMobileMenuItem {
        display: flex; 
        align-items: center; 
        justify-content: space-between;
        border-bottom: none; 
        padding: 0 35px 0 0; 

    }
    .navbarLogoMobile {
        width: 320px; 
    }
    .textMainImageMobileOne {
        font-size:60px;
    }

    .footerThemeContainer {
        display: flex;
        justify-content: space-between; 
    }
    .footerLinkArrowMobile {
        display: none; 
    }
    .footerLinkAndArrow{
        margin-bottom: 30px; 
    }

    .sectionMainImageMobile {
        min-height: 400px; 
    }
    .navbarLogoMobile {
        width: 300px; 
    }
    .articleParagrapheMobile {
        font-size: 16px; 
    }
    .themeSectionMobile {
        display: flex; 
        justify-content: space-between; 
        padding: 10px  30px; 
    }
    .articleTitleMobile {
        font-size: 20px; 
    }
    .simpleTextMobileH2{
        font-size: 46px; 
    }
    .simpleTextParagraphe{
        font-size: 16px; 
    }
    .itemMobileText {
        font-size: 18px; 
    }
    .itemThemeBar{
        font-size: 35px; 
        font-weight: 300; 
    }
    .themeTitleMobile {
        font-weight: 600; 
    }
    .advertiseButtonMobile{
        font-size: 20px; 
        width: 200px; 
        font-weight: 700; 
    }
    .sectionMainImageMobile {
        min-height: 600px; 
        background-image: url('/assurance-emprunteur-accueil-desktop.webp'); 
    }
    
  }